In [ ]:
Pandas -> 
    # Python Data Analytics

2007

pandas is the extension of numpy...

Pandas:
    1) Exploring Data
    2) Data Analysis
    3) Data Manpulaing
    4) Data Cleaning..

In [1]:
# Numpy : ndarrays..

In [ ]:
Pandas Uses Two Main Data Structures:
    1) Series
    2) DataFrmae

In [ ]:
1) Series : a single column

In [ ]:
2) DataFrame : its collection of series.  combination of rows and columns.

In [2]:
# install :

!pip install pandas

Requirement already satisfied: pandas in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\17nru\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

DEPRECATION: textract 1.6.5 has a non-standard dependency specifier extract-msg<=0.29.*. pip 24.1 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of textract or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [4]:
import pandas as pd

## Series using pandas

In [11]:
ls = [12, 34, 5, 67, 89, 56, 45, 34]

In [12]:
my_series = pd.Series(ls)

In [13]:
my_series

0    12
1    34
2     5
3    67
4    89
5    56
6    45
7    34
dtype: int64

In [15]:
type(my_series)

pandas.core.series.Series

In [16]:
my_series

0    12
1    34
2     5
3    67
4    89
5    56
6    45
7    34
dtype: int64

In [17]:
my_series[4]

89

In [20]:
zx = pd.Series([12, 34, 56, 67, 56], index = ["a", "b", "c", "d", "e"])

In [21]:
zx

a    12
b    34
c    56
d    67
e    56
dtype: int64

In [22]:
zx["d"]

67

In [23]:
# DataFrame

In [24]:
zx

a    12
b    34
c    56
d    67
e    56
dtype: int64

In [31]:
abc = pd.Series(["hlo", "xyz", "abc", "no", "ok"])

In [32]:
abc

0    hlo
1    xyz
2    abc
3     no
4     ok
dtype: object

In [35]:
abc[10] = "car"

In [36]:
abc

0     hlo
1     xyz
2     abc
3      no
4      ok
5     car
10    car
dtype: object

In [37]:
abc.drop(0)

1     xyz
2     abc
3      no
4      ok
5     car
10    car
dtype: object

In [38]:
# DataFrame :-> Collection of multiple Series

In [42]:
df = pd.DataFrame(
    {
        "Username" : ["kriss", "moris", "phone", "marker", "laptop"], 
        "Age" : [20, 34, 56, 23, 44], 
        "Phone Number" : [9823482434, 98239846, 982346839, 982634863, 872347346]
    }, index = ["a", "b", "c", "d", "e"]
)

In [43]:
df

  Username  Age  Phone Number
a    kriss   20    9823482434
b    moris   34      98239846
c    phone   56     982346839
d   marker   23     982634863
e   laptop   44     872347346

In [41]:
type(df)

pandas.core.frame.DataFrame

In [48]:
type(df["Age"])

pandas.core.series.Series

In [49]:
df["Age"]["c"]

56

In [ ]:
# loc

# iloc

In [50]:
df

  Username  Age  Phone Number
a    kriss   20    9823482434
b    moris   34      98239846
c    phone   56     982346839
d   marker   23     982634863
e   laptop   44     872347346

In [52]:
# df["Age"]

In [53]:
df.loc["b"]

Username           moris
Age                   34
Phone Number    98239846
Name: b, dtype: object