In [ ]:
Numpy ---> numarical Pyhton 2005
    arrays ---> ndarray


Pandas ---> 2007

In [ ]:
file systmes ---> 
    excel
    csv ---> comma sapredted values
    json
    sql
    
    .
    ..

In [1]:
# install pandas

!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\17nru\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\17nru\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\17nru\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\17nru\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\17nru\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\17nru\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
# Pandas type of data structres
    # 1) Series
    # 2) DataFrame

In [ ]:
# Assume ---> table


# 1) Series --> a single column from a complte table.

# 2) DataFrame ---> combination of rows and columns.

In [5]:
data = pd.read_csv("mentalhealth_dataset.csv")

In [6]:
data

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
0,13/7/2020,Female,24,Biotechnology,Year 3,2.38,1,0,0,0,5,0,4,5,8,2
1,13/7/2020,Female,18,Biotechnology,Year 3,4.00,0,1,0,0,0,0,4,4,13,5
2,13/7/2020,Female,25,Biotechnology,Year 3,3.68,0,0,1,0,3,0,1,2,13,1
3,13/7/2020,Female,18,Engineering,year 4,4.00,0,0,0,0,3,0,5,1,19,2
4,13/7/2020,Female,20,Engineering,year 4,2.00,1,1,0,0,0,0,2,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2023-07-09,Female,20,KOE,year 1,2.31,0,1,0,0,6,0,1,3,7,1
996,2023-07-09,Female,23,Engineering,year 1,3.72,1,0,0,0,3,0,4,1,12,2
997,2023-07-09,Female,19,Human Sciences,Year 2,2.00,0,0,1,0,1,0,5,4,3,1
998,2023-07-09,Female,24,Human Sciences,Year 2,3.89,1,0,1,0,5,0,5,4,13,3
999,2023-07-09,Female,20,Human Sciences,Year 2,2.46,1,0,0,0,0,0,2,5,8,1

In [7]:
type(data)

pandas.core.frame.DataFrame

In [8]:
# Manually create series DataFrame

In [9]:
import pandas as pd

In [10]:
xyz = pd.Series([12, 23, 45, 56, 67, 89, 23])

In [11]:
xyz

0    12
1    23
2    45
3    56
4    67
5    89
6    23
dtype: int64

In [12]:
type(xyz)

pandas.core.series.Series

In [16]:
xyz = pd.Series([12, 23, 45, 56, 67, 89, 23], index = ["a", "b", "c", "d", "e", "f", "g"])

In [17]:
xyz

a    12
b    23
c    45
d    56
e    67
f    89
g    23
dtype: int64

In [18]:
xyz = pd.Series([12, 23, 45, 56, 67, 89, 23])

In [19]:
xyz

0    12
1    23
2    45
3    56
4    67
5    89
6    23
dtype: int64

In [21]:
xyz[3]

56

In [22]:
xyz = pd.Series([12, 23, 45, 56, 67, 89, 23], index = ["a", "b", "c", "d", "e", "f", "g"])

In [23]:
xyz["d"]

56

In [24]:
# How to craete DataFrame

In [25]:
data = pd.DataFrame({
    "Student Name" : ["Kriss", "Moris", "Joe", "Rahul", "Guru"],
    "Age" : [20, 34, 23, 12, 34],
    "Phone Number" : [982384623, 82394623, 298368234, 982638324, 872637334],
})

In [26]:
data

  Student Name  Age  Phone Number
0        Kriss   20     982384623
1        Moris   34      82394623
2          Joe   23     298368234
3        Rahul   12     982638324
4         Guru   34     872637334

In [27]:
type(data)

pandas.core.frame.DataFrame

In [29]:
data["Phone Number"]

0    982384623
1     82394623
2    298368234
3    982638324
4    872637334
Name: Phone Number, dtype: int64

In [30]:
type(data["Phone Number"])

pandas.core.series.Series

In [31]:
# read files

In [ ]:
# if you want to read file by the given address

In [37]:
data = pd.read_csv(r"C:\Users\17nru\OneDrive\Documents\mentalhealth_dataset.csv")

In [38]:

data = pd.read_csv("C:\\Users\\17nru\\OneDrive\\Documents\\mentalhealth_dataset.csv")

In [ ]:
data

In [ ]:
# !pip install kagglehub

In [39]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("aravindas01/ipl-2022dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/aravindas01/ipl-2022dataset?dataset_version_number=33...

100%|█████████████████████████████████████████████████████████████████████████████| 3.50k/3.50k [00:00<00:00, 1.79MB/s]

Extracting files...
Path to dataset files: C:\Users\17nru\.cache\kagglehub\datasets\aravindas01\ipl-2022dataset\versions\33

In [42]:
data = pd.read_csv(r"C:\Users\17nru\.cache\kagglehub\datasets\aravindas01\ipl-2022dataset\versions\33\Book_ipl22_ver_33.csv")

In [43]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("shivavashishtha/2022-ipl-auction-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/shivavashishtha/2022-ipl-auction-dataset?dataset_version_number=2...

100%|█████████████████████████████████████████████████████████████████████████████| 9.17k/9.17k [00:00<00:00, 4.71MB/s]

Extracting files...
Path to dataset files: C:\Users\17nru\.cache\kagglehub\datasets\shivavashishtha\2022-ipl-auction-dataset\versions\2

In [44]:
import pandas as pd

In [45]:
data = pd.read_csv(r"C:\Users\17nru\.cache\kagglehub\datasets\shivavashishtha\2022-ipl-auction-dataset\versions\2\ipl_2022_dataset.csv")

In [46]:
data

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.0,1950.0,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,10.0,1300.0,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.0,1170.0,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,8.0,1040.0,KKR,Gujarat Titans
...,...,...,...,...,...,...,...,...
628,628,Sairaj Patil,20 Lakh,BATTER,NaN,NaN,NaN,Unsold
629,629,Monu Singh,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
630,630,Nivethan Radhakrishnan,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
631,631,Lance Morris,20 Lakh,BOWLER,NaN,NaN,NaN,Unsold
632,632,Aaron Hardie,20 Lakh,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [ ]:
Pandas ---->
    1) Data Analysis
    2) Data Modification
    3) Data Cleaning

In [ ]:
data -----> algo -----> model

In [48]:
data.shape

(633, 8)